*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        background-image: linear-gradient(to top, #f37423, #e26e27, #d0682a, #bf632d, #ae5d2f, #9c5130, #894730, #753d2f, #592e2a, #3d2022, #221416, #000000);
        overflow: hidden;
}