*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #000;
    overflow: hidden;
  }